{% extends 'core/base.html' %}
{% load static %}
{% load sass_tags %}
{% load hitcount_tags %}


{% block title %}
  {{ article.title }}
{% endblock %}

{% block content %}
<main class="container">
    <article class="post">
        <img class="post-img" src="{{ article.thumbnail.url }}" alt="">
        <h1 class="post-title">{{ article.title }}</h1>
        <time class="post-time">{{ article.created_at | date:"d M Y" }}</time>
        <p class="post-entry">{{ article.article_entry | safe }}</p>
        <div class="post-body">
            {{ article.content | safe }}
        </div>

        {% if article.references %}
            <h2>Referenser</h2>
            <div class="post-body">
                {{ article.references }}
            </div>
        {% endif %}
    </article>
</main>
{%  endblock %}
