
@font-face {
    font-family: 'LibreFranklin';
    src: local('LibreFranklin'), 
    url('../fonts/LibreFranklin-VariableFont_wght.ttf') 
    format('truetype');
}

@font-face {
    font-family: 'Cinzel';
    src: local('Cinzel'), 
    url('../fonts/Cinzel-VariableFont_wght.ttf') 
    format('truetype');
}

.font-cinzel {
    font-family: 'Cinzel';
}


a {
    color: var(--clr-black-200);
    text-decoration: none;
}

p {
    line-height: 1.5;
}


h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 12px;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.75em;
    margin-top: 16px;
    margin-bottom: 8px;
}

h4 {
    font-size: 1.5em;
    margin-top: 12px;
    margin-bottom: 6px;
}

h5 {
    font-size: 1.25em;
    margin-top: 8px;
    margin-bottom: 4px;
}

h6 {
    font-size: 1em;
    margin-top: 4px;
    margin-bottom: 2px;
}

i {
    font-style: italic;
}

@each $size in ('1.00', '1.25', '1.50', '1.75', '2.00') {
    $size-str: str-replace($size, '.', '');
    .txt-lh-#{$size-str} {
        line-height: #{$size};
    }
}

@each $value in ('center', 'end', 'justify', 'left', 'right', 'start') {
    .txt-a-#{$value} {
        text-align: #{$value};
    }
}
