
.flex { display: flex; }
.item-center { align-items: center; }
.item-stretch { align-tems: stretch; }


.flex-flow-rw { flex-flow: row wrap; }
.flex-flow-cw { flex-flow: column wrap; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }


@each $value in ('center', 'end', 'space-between', 'space-around') {
    .flex-jc-#{$value} {
        justify-content: #{$value}
    }
}

@each $value in ('baseline', 'center', 'end', 'flex-end', 'flex-start', 'stretch') {
    .flex-a-#{$value} {
        align-items: #{$value}
    }
}

@each $size in (10, 20, 30, 40, 50, 60, 70, 80, 90, 100) {
    .flex-b-#{$size} {
        flex-basis: #{$size + "%"};
    }

    .flex-s-#{$size} {
        flex-shrink: #{$size + "%"};
    }
}

@each $size in (0, 1, 2, 3) {
    .flex-s-#{$size} {
        flex-shrink: #{$size};
    }
}

@media (max-width: 1000px) {
    .flex-responsive { flex-direction: column; }
    .flex-responsive-jc-c { justify-content: center; }
}
