.pagination {

  .btn {
      background-color: var(--clr-primary-400);
      color: white;
      padding: 0.4rem;
      border: 1px solid var(--clr-primary-400);
  }

  .btn--not-current {

  }

  .btn--current {
    background-color: transparent;
    color: var(--clr-primary-400);
  }


}
