{% load static %}
{% load sass_tags %}
{% load compress %}

<header class="container header">
    <nav class="navbar">
        <a href="/"><img src="{% static 'core/images/signature.png' %}" alt="" class="navbar-brand"></a>
        {% include 'core/partials/nav.html' %}
        <div class="sidebar-menu" onclick="toggleSidebar('sidebar')">
            <div class="bar bar1"></div>
            <div class="bar bar2"></div>
            <div class="bar bar3"></div>
        </div>
    </nav>
</header>
