
.article {
    width: 400px;
    position: relative;

    &:hover {

        .article-card {
            background-color: var(--clr-secondary-400-95);
        }

        .article-img {
            filter: saturate(2);
            transform: scale(1.05);
        }
    }

    .article-card {
        background-color: var(--clr-primary-400-95);
        backdrop-filter: blur(2px);
        color: white;
        padding: 20px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 50px;
        transition: all 0.5s;
    }

    .article-img-wrapper {
        overflow: hidden;
        width: 100%;

        .article-img {
            transition: transform 0.5s;
        }
    }

    .article-title {
        margin: 10px 0;
    }

    .article-time {
        margin: 5px 0;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 0.8rem;
    }

    .article-entry {
        color: var(--clr-black-300);
    }

    .edit-buttons {
      position: absolute;
      right: 20px;
      bottom: -20px;
    }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  font-size: 30px;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.boat-grid {
  &__item {


    img {
      max-width: 100%;
    }

    &-text {
      background-color: white;
      padding: 10px;


      h3 {
        padding-top: 10px;
        font-size: 1.2em;
        /* text-transform: uppercase; */
        font-family: 'Libre Baskerville';
        white-space: nowrap;
        transition: 0.5s all;
        margin-top: 0;
        margin-bottom: 10px;
      }
      
      &-info {
          font-size: clamp(0.6em, 3vw, 0.8em);

        p {
        }

        &-bullet {
          margin: 0 5px;
        }

        &__meta {
          color: #AAAAAA;
        }

        &__price {
          color: var(--clr-secondary-400);
        }

      }
    }
  }
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Change to 2 columns on smaller screens */
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* Change to 1 column on even smaller screens */
  }
}
