@import 'reset';
@import "colors";



// Abstracts
@import "abstracts/_functions.scss";
@import "abstracts/_mixins.scss";
@import "abstracts/_flexbox.scss";
@import "abstracts/_spacing.scss";

// Base
@import "base/_typography.scss";

// Layout
@import "layout/_header.scss";
@import "layout/_navbars.scss";
@import "layout/_grid.scss";


// Components
@import "components/_cta.scss";
@import "components/_post.scss";
@import "components/_tables.scss";
@import "components/_pagination.scss";

:root {

    font-family: 'LibreFranklin', sans-serif;

    @each $color, $shades in $colors {
        @each $shade, $value in $shades { // Phase this out and use opacity-steps
            --clr-#{$color}-#{$shade}: #{$value};
        }

    $opacity-steps: ();
    @for $i from 1 through 19 {
        $opacity-steps: append($opacity-steps, 5*$i);
    }

    @each $shade, $value in $shades {
        @each $opacity in $opacity-steps {
              --clr-#{$color}-#{$shade}-#{$opacity}: #{$value}#{$opacity};
            }
        }
    }

}

body {
    color: var(--clr-black-200);
    background-color: #F2F2F2;
}



main {
    margin: 200px 0;
}

.container {
    padding: 0 clamp(40px, 18vw, 1000px);

    @media (max-width: 768px) {
        padding: 0 clamp(10px, 10vw, 100px);
    }

    @media (max-width: 480px) {
        padding: 0 clamp(5px, 10vw, 50px);
    }
}


.decoration-none {
    text-decoration: none;
}


.blog {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


@each $size in (5, 10, 15, 20, 25) {
    .br-#{$size} {
        border-radius: #{$size}px;
    }
}




.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}



.ar-16b9 { aspect-ratio:  16 / 9; }
.ar-1b1 { aspect-ratio:  1 / 1; }
.ar-9b16 { aspect-ratio:  9 / 16; }
.ar-4b3  { aspect-ratio:  4 / 3;  }
.ar-4b5  { aspect-ratio:  4 / 5;  }
.ar-3b2  { aspect-ratio:  3 / 2;  }
.ar-21b9 { aspect-ratio:  21 / 9; }

.of-cover { object-fit: cover; }



@mixin link-decoration {
    color: var(--clr-primary-95);
    text-decoration: underline;
}

.txt-div {
    p {
        margin-bottom: 10px;
    }

    a {
        @include link-decoration;
    }
}

.link-dec {
    @include link-decoration;
}

.cv {

    h3 {
        font-family: "Cinzel";
    }

    h4 {
        font-weight: 400;
    }


    .cv-description li {
        list-style: circle;
        margin-left: 25px;
        margin-bottom: 5px;
    }

}




.letter {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 26px auto 0;
    max-width: 800px;
    min-width: 400px;
    min-height: 300px;
    padding: 24px;
    position: relative;
    width: 80%;

  &:before, &:after {
      content: "";
      height: 98%;
      position: absolute;
      width: 100%;
      z-index: -1;

  }

  &:before {
      background: #fafafa;
      box-shadow: 0 0 8px rgba(0,0,0,0.2);
      left: -5px;
      top: 4px;
      transform: rotate(-2.5deg);
  }

  &:after {
      background: #f6f6f6;
      box-shadow: 0 0 3px rgba(0,0,0,0.2);
      right: -3px;
      top: 1px;
      transform: rotate(1.4deg);
  }

  &:hover {
      &:before {
          transform: rotate(-3.5deg);
      }

      &:after {
          transform: rotate(2deg);
      }
  }

  &:before, &:after {
    transition: transform 0.5s ease;
  }
}

.hvr-scale {
    transition: transform 0.6s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.hvr-bs {
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
}


.cursor--pointer {
  cursor: pointer;
}
