{% extends 'core/base.html' %}

{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<main class="container">

    <section>
        {% for section in about_sections %}
            <h2>{{ section.title }}</h2>
            <p>{{ section.content }}</p>
        {% endfor %}

        <div id="politik" class="txt-div">
            {{ about.content | safe}}
        </div>
    </section>

    <section class="sec-def" id="cv">
        {% include 'about/partials/cv.html' %}
    </section>
</main>
{% endblock %}

