{% extends 'core/base.html' %}
{% load static %}
{% load sass_tags %}
{% load custom_template_tags %}

{% block title %}{{ boat.title }}{% endblock %}

{% block content %}
<main class="container">

    <section class="horizontal-gallery">

    </section>
    <setion>
        <h1>{{ boat.title }}</h1>
        <div class="stats">
            <span> {{ boat.engine }}</span>
             &bull; <span>{{ boat.price }} SEK</span>
        </div>

        <div class="stats">
            <span>{{ boat.length }}</span>
            <span>{{ boat.beam }}</span>
            <span>{{ boat.top_speed }}</span>
        </div>
    </setion>
    <section>
        <div>
            {{ boat.description | safe }}
        </div>
    </section>
    <section>
    </section    <div class="spec-block">
        <h2 class="heading--section">Översikt</h2>
        <div class="spec-block__list">
            <ul>
                {% for field in overview_fields %}
                    <li class="spec-block__list-item">
                        <span class="spec-block__title">{{ field.name | safe}}</span>
                        <span class="spec-block__value">{{ field.value | safe }}</span>
                    </li>
                {% endfor %}            
            </ul>
        </div>
    </div>
</main>
{% endblock %}
